
@media screen and (max-width: 1366px) {

    .page__header {
        background-position: top left 538px;
        padding: 0 110px 121px 110px;
    }

    .header-image_positioned {
        left: 607px;
    }

    .header-image_transparent1, .header-image_transparent2 {
        left: 0;
    }

    .header-image_transparent3 {
        left: 296px;
    }

    .help-description {
        padding-right: 207px;
    }

    .help-description__container {
        padding-left: 693px;
    }

    .pets__image_rectangle {
        width: 343px;
    }

    .pets__image_circle {
        left: 78px;
    }

    .pets__image_pet1 {
        left: 106px;
    }

    .pets__image_sm-circle {
        left: 383px;
    }

    .pets__image_pet2 {
        left: 392px;
    }

    .help-types {
        width: 1366px;
    }

    .help-variants {
        padding-left: 118px;
        padding-right: 118px;
    }

    .options {
        padding-left: 284px;
    }

    .animals-list {
        padding-left: 110px;
    }

    .all-pets-link {
        padding-left: 561px;
    }

    .social-wrapper {
    padding-left: 304px;
    }

    .separator__line {
        width: 576px;
    }

    .finance {
        width: 1366px;
    }

    .support {
        width: 1366px;
    }

    .support__link {
        padding-left: 402px;
    }

    .volunteering {
        padding-right: 207px;
    }

    .volunteering-wrapper {
        padding-left: 693px;
    }

    .news {
        width: 1366px;
    }

    .news-wrapper {
        padding-left: 304px;
    }

    .add-links {
        padding-left: 304px;
    }

    .footer {
        width: 1366px;
    }

    .footer__wrapper {
        padding-left: 402px;
    }

    .thanks {
        width: 1366px;
        background-image: url('images/36164\ 12.svg');
    }

    .page-wrapper {
        width: 1366px;
    }
}

@media screen and (max-width: 639px) {

    body {
        font-size: 14px;
    }

    .page__header {
        padding: 0 30px 28px 30px;
        width: 300px;
        background-image: url(./images/dog\ 2.png);
        background-position: top left 135px;
    }

    .page__menu_icon {
        display: block;
      }

    .top-menu {
        display: none;
    }

    .top-social__link_mobile {
        width: 32px;
        height: 32px;
    }

    .top-wrapper {
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .page__menu {
        padding-top: 24px;
        padding-right: 0;
        
    }

     .top-social {
        
        padding-top: 24px;
     }

     .top-social__item:nth-child(1) {
        padding-right: 22px;
      }

     .promo-container{
        padding-top: 20px;
      }

      .promo-container__title {
        font-size: 30px;
        line-height: 36px;
      }

      .promo-container__description {
          font-size: 12px;
          width: 211px;
          margin-top: 0;
      }

      .promo-container__goal {
          padding-top: 20px;
          width: 158px;
      }

      .header-image_positioned {
        width: 165px;
        height: 157px;
        left: 144px;
        top: 251px;
      }

      .header-image_transparent1 {
          top: 270px;
          width: 175px;
          height: 56px;
      }

      .header-image_transparent2 {
          top: 326px;
          width: 156px;
          height: 31px;
      }

      .header-image_transparent3 {
        width: 138px;
        height: 31px;
        top: 357px;
        left: 79px;
      }

      .promo-container__details {
          padding-top: 92px;
          font-size: 16px;
          line-height: 19px;
          width: 300px;
          margin: 0 auto;
          text-align: center;
      }

      .button {
        font-weight: 500;
        font-size: 18px;
        line-height: 40px;
      }

      .promo-container__button {
          width: 194px;
          padding: 0 19px 0 19px;
          margin: 20px 53px 0 53px;
          text-align: center;
          box-sizing: border-box;

                   
      }
      
}
