@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./fonts/Gilroy-Light.woff2') format('woff2'),
      url('./fonts/Gilroy-Light.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/Gilroy-Regular.woff2') format('woff2'),
      url('./fonts/Gilroy-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/Gilroy-Medium.woff2') format('woff2'),
      url('./fonts/Gilroy-Medium.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/Gilroy-SemiBold.woff2') format('woff2'),
      url('./fonts/Gilroy-SemiBold.woff') format('woff');
  }

  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/Gilroy-Bold.woff2') format('woff2'),
      url('./fonts/Gilroy-Bold.woff') format('woff');
  }

  body {
      font-family: "Gilroy", sans-serif;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-size: 16px;
      color: #242424;
  }

  .page__header {
    background-color: #E5E5E5;
    background-image: url(./images/dog\ 1.png);
    background-repeat: no-repeat;
    background-position: top left 815px;
    width: 1146px;
    padding: 0px 387px 121px 387px;
  }

.page__menu {
  padding-top: 54px;
  padding-right:290px;
  }

.page__menu_icon {
    display: none;
  }

.top-menu__item:nth-child(odd) {
  padding-right: 28px;
}

.top-menu__item:nth-child(2) {
  padding-right: 190px;
}

.top-social__item:nth-child(1) {
  padding-right: 28px;
}

  .top-wrapper {
    display: flex;
  }

  .top-social {
    display: flex;
    padding-top: 39px;
  }

  .top-menu__item {
    display: inline;
    vertical-align: middle;
  }

  .top-menu__link {
    text-decoration: none;
    color:#242424;
    font-weight: 600;
    line-height: 19px;
  }

.promo-container{
  padding-top: 69px;
}

.promo-container__title {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: bold;
  line-height: 87px;
}

.promo-container__description {
  color: #6B6B6B;
  font-weight: 300;
  margin-top: -3px;
}

.promo-container__goal {
  color: #474747;
  line-height: 140%;
  padding-top: 12px;
  font-weight: 600;
  width: 659px;
}

.promo-container__details {
  color: #C78100;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  padding-top: 44px;
  width: 428px;
  position: relative;
  z-index: 1;
}

.button {
  display: inline-block;
  background: #FBC832;
  border-radius: 58px;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 33px;
  border: none;
  outline: none;
  color: #242424;
  text-decoration: none;
}

.button:hover {
  background: #FFDF86;
  box-shadow: 0px 2px 4px #CCCCCC;
  color: #000000;
}

.button:active {
  background: #FFBB0C;
  background-blend-mode: multiply;  
  color: #000000;
}

.promo-container__button {
  margin-top: 44px;
  margin-bottom: 151px;
  position: relative;
  z-index: 1;
  padding: 11px 33px;
}

.header-image_positioned {
  position: absolute;
  top: 470px;
  left: 884px;
}

.header-image_transparent1 {
  position: absolute;
  top: 374px;
  left: 277px;
  opacity: 0.5;
}

.header-image_transparent2 {
  position: absolute;
  top: 566px;
  left: 275px;
  opacity: 0.6;  
}

.header-image_transparent3 {
  position: absolute;
  top: 671px;
  left: 573px;
  opacity: 0.5;  
}

.help-description {
  display: flex;
  padding: 54px 507px 75px 0px;
}

.help-description__container {
  
  padding-left: 946px;
  padding-top: 70px;
}

.wrapper-title {
  width: 466px;
  font-size: 28px;
  font-weight: 600;  
  line-height: 120%;
  text-align: center;
  color: #C78100;
  padding-bottom: 2px;
  
}

.wrapper-text {
  width: 466px;
  line-height: 22px;
  padding-top: 23px;

}

.help-description__images {
  position: relative;
  height: 521px;
}

.pets__image_rectangle {
  position: absolute;
  background-image: url('images/Rectangle_1.png');
  background-size: contain;
  width: 590px;
  height: 100%;

}

.pets__image_circle {
  position: absolute;
  left: 332px;
}

.pets__image_pet1 {
  position: absolute;
  left: 366px;
  top: 30px;
}

.pets__image_sm-circle {
  position: absolute;
  left: 638px;
  top: 295px;
}

.pets__image_pet2 {
  position: absolute;
  left: 646px;
  top: 303px;
}

.help-types {
  background-color: #E5E5E5;
  width: 1920px;
}

.help-types__title {
  padding-top: 77px;
  padding-bottom: 45px;
  font-size: 28px;
  font-weight: 300px;
  text-align: center;
}

.help-variants {
  display: flex;
  justify-content: space-between;
  width: 1130px;
  padding-left: 388px;
  padding-right: 388px;
}

.help-variants__item {
  text-align: center;
}

.help-variants__text {
  color: #474747;
  line-height: 22px;
  font-weight: 500px;
  text-align: center;
  width: 166px;
  padding-top: 24px;
}

.help-variants__image:hover {
  box-shadow: 0px 2px 4px #CCCCCC;
  background-color: #FFFFFF;
  border-radius: 90px;
}

.help-variants__image:active {
  background-color: #F8ECCB;
  border-radius: 90px;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
}
.separator__line {
  background-color: #EEBF3A;
  border: transparent;
  height: 1px;
  width: 807px;
  margin: 0;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 875px;
  padding-left: 584px;
  padding-top: 72px;
}

.options__type {
  width: 389px;
}

.options__title {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 24px;
  line-height: 24px;
  
}

.options__text {
  line-height: 140%;
}

.our-pets {
  font-weight: 300;
  font-size: 28px;
  padding-bottom: 30px;
  padding-top: 72px;
  text-align: center;
}

.animals-list {
  width: 1145px;
  height: 1434px;
  padding-left: 387px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between; 
  
}

.animal-card {
  background-color: #FFFFFF;
  width: 368px;
  height: 695px;
  border: 1px solid #D6D6D6;
  border-radius: 5px;
  padding: 16px 16px 20px 17px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;

}

.animal-card__name {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(214, 214, 214, 0.5);
}

.animal-card__description_gray {
  color: #6B6B6B;
  font-weight: 500;
  font-size: 14px;
  padding-top: 13px;
  padding-bottom: 9px;
}

.animal-card__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.animal-card__button {
  border: 2px solid #FFC41E;
  border-radius: 58px;
  font-weight: 500;
  font-size: 20px;
  padding: 7px 35px;
  margin-top: 17px;
  position: absolute;
  bottom: 20px;
  left: 36px;
  background-color: white;
  outline: none;
  color: #242424;
  
}

.animal-card__button_highlighted {
  position: absolute;
  bottom: 78px;
  left: 80px;
}

.animal-card__button:hover {
  box-shadow: 0px 2px 4px #CCCCCC;
  border: 3px solid #FFBC00;
  color: #000000;

}

.animal-card__button:active {
  background: rgba(255, 196, 30, 0.2);
  color: #242424;
  
}

.all-pets-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  text-decoration-line: underline;
  color: #AD7F00;
  line-height: 40px;
  padding-top: 20px;
  padding-left: 838px;
  position: relative;
}

.all-pets-link::after {
  content: url('images/icon.png');
  margin-left: 10px;
  position: absolute;
  top: 22px;
}

.social-wrapper {
  display: flex;
  padding-top: 65px;
  padding-bottom: 72px;
  padding-left: 581px;
  
}

.social-wrapper__text {
  width: 583px;
  font-size: 18px;
  line-height: 24px;
  padding-right: 38px;
}

.social-links__image {
  margin-right: 32px;
}

.finance {
  width: 1920px;
}

.finance__separator {
  padding-top: 46px;
}

.finance__title {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  padding-top: 58px;
  padding-bottom: 32px;
}

.finance__description {
  width: 758px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #6B6B6B;
  margin: 0 auto;
}

.finance-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 875px;
  padding-bottom: 56px;

}
.finance-column__title {
  font-weight: 300;
  font-size: 28px;
  padding-top: 40px;
  padding-bottom: 19px;
}

.finance-column__list, .finance-column__text {
  line-height: 175%;
}

.finance-column__item_bold {
  font-weight: 700;
}

.finance-column__button {
  width: 160px;
  margin-top: 24px;
}

.finance-list__ordered {
  list-style-type: decimal;
  list-style-position: inside;
}

.support {
 background-color: #E5E5E5;
 width: 1920px;
}

.support__separator {
  padding-top: 49px;
  padding-bottom: 13px;
}

.support-type {
  width: 660px;
  margin: 0 auto;
}

.support-type__wide {
  width: 690px;
  margin: 0 auto;
  padding-left: 30px;
}

.support-type__title {
  font-weight: 600;
  font-size: 28px;
  padding-bottom: 24px;
  padding-top: 40px;
}

.support-type__list {
  line-height: 170%;
  list-style-type: disc;
  list-style-position: inside;
}

.support-type__text {
  line-height: 140%;;
}

.support-type__text_gray {
  color: #6F6C6C;
}

.support__link {
  padding-left: 630px;
  padding-top: 16px;
  
}

.support__link_text {
  font-size: 20px;
  line-height: 40px;
  color: #AD7F00;
  font-weight: 500;
}

b {
  font-weight: 700;
}

.support-type__button {
  margin-top: 24px;
}

.support-type__text-auto {
  width: 680px;
}

.separator-auto {
  padding-top: 78px;
}

.separator-volunteering {
  padding-top: 82px;
}

.volunteering {
  display: flex;
  padding: 0px 507px 50px 0px;
}

.volunteering-wrapper {
  width: 466px;
  padding-left: 920px;
  padding-top: 70px;
}

.volunteering__images {
  position: relative;
  height: 521px;
}

.news {
  width: 1920px;
  padding-bottom: 63px;
  
}

.news-wrapper {
  width: 778px;
  display: flex;
  padding: 40px 0px 35px 604px;
  align-items: center;
}

.news__title {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  padding-top: 56px;
}

.news-wrapper__block {
  width: 603px;
  padding-left: 35px;

}

.add-links {
  padding-left: 604px;
}

.additional-news {
  display: none;
}

.more-news {
  display: block;
}

.show-more {

  display: block;
}

.show-less {

  display: none;
}

.no-display-linkShow {
  display: none;
}

.display-linkHide {
  display: block;
}


.news__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #AD7F00;
  position: relative;
  
}

.show-less::after {
  content: url('images/arrow-up.svg');
  position: absolute;
  margin-left: 20px;
  top: 2px;
}

.news-wrapper__text {
  padding-bottom: 5px;
  line-height: 140%;
}

.footer {
  background-color: #E5E5E5;
  width: 1920px;
}

.footer__title {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 24px;
}

.footer__wrapper {
  padding-left: 702px;
  padding-bottom: 54px;
}

.footer__about {
  width: 680px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 24px;
}

.footer__subtitle {
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 24px;
}

.footer__phones {
  width: 680px;
  line-height: 140%;
  
}

.footer__list {
  line-height: 180%;
  padding-bottom: 40px;
}

.footer__social-text {
  line-height: 140%;
  color: #6B6B6B;
  padding-bottom: 16px;
}

.contacts-list__item {
  color: #242424;
  text-decoration: none;
  
}
.thanks {
  position: relative;
  width: 1920px;
  height: 741px;
  background-image: url('images/36164\ 1.png');
}

.thanks__image_rect-circle {
  position: absolute;
  top: 119px;
  mix-blend-mode: soft-light;

}

.thanks__image_paw {
  position: absolute;
  top: 373px;
  left: 480px;
  
}

.thanks__text {
  width: 346px;
  font-size: 64px;
  line-height: 77px;
  font-weight: 700;
  color: #FFFFFF;
  position: absolute;
  left: 134px;
  top: 303px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  margin: 0 auto;
}

.bottom-menu {
  padding-top: 40px;
  
}

.bottom-menu__item_left, .bottom-menu__item_right {
  display: inline;
}
.bottom-menu__item_left {
  padding-right: 40px;
}

.bottom-menu__link_left {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #474747;
}
.bottom-menu__item_left:last-child {
  padding-right: 0;
}

.bottom-menu__item_right {
  padding-right: 42px;
}

.bottom-menu__link_right {
  font-size: 14px;
  line-height: 16px;
  color: #242424;
}
.bottom-menu__item_right:last-child {
  padding-right: 0;
}

.footer__privacy {
  font-size: 12px;
  line-height: 140%;
  color: #B3B3B3;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 24px;
}

.top-social__link_hover:hover {
  box-shadow: 0px 4px 4px rgba(113, 113, 113, 0.2);
  box-sizing: border-box;
  background-color: #FFD458;
  border-radius: 40px;
}

.top-social__link_active:active {
  background-color: #FFBC00;
  border-radius: 40px;

}

.social-links__image_hover:hover {
  box-shadow: 0px 2px 4px #CCCCCC;
  background-color: #FFFFFF;
  border-radius: 40px;
}

.social-links__image_active:active {
  background-color: #F8ECCB;
  border-radius: 40px;
}

.button:disabled {
  background-color: #FFE28E;
  color: #6B6B6B;
}

.animal-card__button:disabled {
  border: 2px solid #B3B3B3;
  color: #6B6B6B;
}

.modal-home {
  width: 525px;
  height: 681px;
  box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
  border-radius: 5px;
}

.form__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EEBF3A;
  height: 44px;
  align-items: flex-start;
}

.form-home, .form-overexposure, .form-auto, .form-volunteering {
  padding: 30px 40px;
  
}

.form-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  color: #B3B3B3;
  padding-bottom: 8px;
}

.form-home__subtitle {
  font-size: 16px;
  line-height: 140%;
  color: #6B6B6B;
  padding-bottom: 32px;
  padding-top: 16px;
}

form input  {
  width: 445px;
  height: 40px;
  padding-left: 16px;
  padding-right: 17px;
  box-sizing: border-box;
  border: 1px solid #D6D6D6;
  border-radius: 2px;
  
}

form input[type="text"] {
  margin-bottom: 16px;
}

form input:hover, form textarea:hover {
  border: 1px solid #FFC41E;
}

form input:hover::placeholder, form textarea:hover::placeholder {
  opacity: 1;
}

form input:focus, form textarea:focus {
  
  border: 2px solid #FFC41E;
  opacity: 0.25;
  outline: none;
}

form input:focus::placeholder, form textarea:focus::placeholder {
  color: #000000;
}

form input:active, form textarea:active {
  border: 2px solid #FFC41E;
  opacity: 0.25;
  outline: none;
}

form input:active::placeholder, form textarea:active::placeholder {
  color: #000000;
}
form input:disabled {
  background-color: #F2F2F2;
}

form input:disabled::placeholder {
  color: #B3B3B3;
}


form input::placeholder {
  font-size: 16px;
  line-height: 140%;
  color: #6B6B6B;
  opacity: 0.7;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
}

form textarea::placeholder {
  font-size: 16px;
  line-height: 140%;
  color: #6B6B6B;
  opacity: 0.7;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
}

label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #474747;
  opacity: 0.7;
  padding-bottom: 2px;
}

.form-contacts {
  font-size: 14px;
  line-height: 140%;
  color: #474747;
  padding-top: 24px;
  padding-bottom: 32px;
}

.form-contacts__link {
  color: #474747;
  text-decoration: none;
}

form textarea {
  width: 445px;
  height: 76px;
  padding-left: 16px;
  padding-top: 9px;
  padding-right: 17px;
  box-sizing: border-box;
}

.required-text {
  padding-top: 2px;
  padding-bottom: 22px;
  font-size: 14px;
  line-height: 140%;
  color: #B3B3B3;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  width: 445px;
  
}

.coloreless {
  border: 2px solid #FFC41E;
  border-radius: 58px;
  font-weight: 500;
  font-size: 20px;
  padding: 7px 35px; 
  background-color: white;
  outline: none;
  color: #242424;
}

.coloreless:hover {
  box-shadow: 0px 2px 4px #CCCCCC;
  border: 3px solid #FFBC00;
  color: #000000;

}

.coloreless:active {
  background: rgba(255, 196, 30, 0.2);
  color: #242424;
  
}

.modal-overexposure {
  width: 525px;
  height: 780px;
  box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
  border-radius: 5px;
}

.contacts-overexposure {
  padding-bottom: 16px;
}

.form-bottom-comments {
  padding-bottom: 38px;
  font-size: 16px;
  line-height: 140%;
  color: #B3B3B3;
}

.form-bottom-comments__text {
  padding-bottom: 5px;
}

.modal-auto {
  width: 525px;
  height: 611px;
  box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
  border-radius: 5px;
}

.form-request {
  font-size: 22px;
  line-height: 20px;
  font-weight: 500;
  color: #242424;
  padding-top: 16px;
  padding-bottom: 6px;
}

.form-auto__text, .form-volunteering__text {
  font-size: 16px;
  line-height: 140%;
  color: #6B6B6B;
  padding-bottom: 32px;
}

.form-auto__buttons, .form-volunteering__buttons {
  margin-top: 32px;
}

.modal-volunteering {
  width: 582px;
  height: 700px;
  box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
  border-radius: 5px;
} 

.form-volunteering input[type="text"],
.form-volunteering input[type="tel"]  {
  width: 502px;
  height: 40px;
}
.form-volunteering input[type="radio"] {
  width: 0;
}

.form-volunteering textarea {
  width: 502px;
  height: 76px;

}

.volunteering-options {
  width: 404px;
  padding-bottom: 23px;
}

.volunteering__required-text {
  padding-bottom: 19px;
}

.container-radio {
  display: block;
  position: relative;
  padding-left: 29px;
  margin-bottom: 7px;
  cursor: pointer;  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #6B6B6B;
  font-weight: normal;
}

.volunteering-options input[type="radio"]:checked ~ .radio__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #242424;
}
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container-radio input:checked ~ .checkmark {
  background-color: #FFC41E;

}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #F9B800;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-radio input:checked ~ .checkmark:after {
  display: block;
}

.container-radio .checkmark:after {
  top: 5px;
 left: 5px;
 width: 8px;
 height: 8px;
 border-radius: 50%;
 background: white;
}

.modal-where {
  width: 525px;
  height: 363px;
  box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
  border-radius: 5px;
}

.modal-where__wrapper {
  padding: 30px 40px;
}

.modal-where__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EEBF3A;
}

.form-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  color: #B3B3B3;
  padding-bottom: 18px;
}

.modal-where__subtitle {
  font-size: 16px;
  line-height: 140%;
  color: #6B6B6B;
  padding-top: 16px;
  padding-bottom: 5px;
  width: 402px;
}

.modal-where__text {
  font-size: 16px;
  line-height: 140%;
  color: #6B6B6B;
  padding-bottom: 32px;
  width: 402px;
}

.modal-where__form-contacts {
  font-size: 14px;
  line-height: 140%;
  padding-bottom: 25px;
}

.contacts-list {
  line-height: 185%;
}

.modal-where__link {
  text-decoration: none;
  color: #474747;
  font-weight: bold;
}

.whole-list-animals {
  height: 2912px;
  padding-top: 40px;
  padding-bottom: 34px;
}

.page-wrapper {
  background-color: #E5E5E5;
  width: 1920px;  
}

.pets-header {
  display: flex;
  justify-content: space-between;
  width: 1145px;
  height: 40px;
  padding-left: 387px;
  padding-top: 40px;
  align-items: center;
}

.pets-header__item {
  position: relative;
}

.pets-header__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #6B6B6B;
  text-decoration: none;
  position: relative;
  left: 32px;
  top: 2px;
}

.pets-header__link-wrapper::before {
  content: url('images/Frame 72.svg');
  position: absolute;
}

.pets-header__title {  
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
}

#choose-animal {
  width: 168px;
  height: 40px;
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  appearance: none;
  background-image: url('images/Chevron Down.png');
  background-position: right;
  background-repeat: no-repeat;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #6B6B6B;
  opacity: 0.7;
 
}

#choose-animal:hover {
  border: 1px solid #FFC41E;
  color: #000000;
  opacity: 1;
}

#choose-animal:active {
  background-image: url('images/Chevron Down1.png');
  background-position: right;
  background-repeat: no-repeat;
}


#choose-animal:focus {
  background-image: url('images/Chevron Down1.png');
  background-position: right;
  background-repeat: no-repeat;
}


.pets-label {
  position: absolute;
  left: -78px;
  top: 8px;
  color: #6B6B6B;
  line-height: 140%;
  font-size: 16px;
}